.swiper.ticket-slide {
  counter-reset: ticket;
}
.ticket {
  position: relative;
  padding-top: 0;
  padding-bottom: 90px;
}
.ticket-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.ticket-header {
  position: relative;
}
.ticket-slide-wrap {
  position: relative;
  height: 456px;
  margin-top: 23px;
}
.ticket-slide-item {
  width: 100%;
  height: 456px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background-color: #f7f7f7;
  overflow: hidden;
}
.ticket-link {
  position: relative;
  display: block;
  height: 100%;
}
.ticket-img {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}
.ticket-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ticket-info {
  height: calc(100% - 310px);
  padding: 22px 20px;
}
.ticket-good-list {
}
.ticket-good-list li {
  margin-bottom: 10px;
  text-align: left;
}
.ticket-good-info-price {
  font-size: 1.8rem;
  color: #111;
  font-weight: 400;
}
.ticket-good-info-price b {
  font-size: 2rem;
  color: #ef3e43;
  font-weight: 700;
}
.ticket-good-info-price em {
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}
.ticket-good-info-desc {
  line-height: 1.4;
  font-size: 1.5rem;
  color: #111;
  word-break: break-all;
}
.ticket-title {
  position: relative;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.ticket-txt {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}
.ticket-main {
  position: relative;
}
.ticket-category {
  position: relative;
  justify-content: center;
  display: flex;
  padding: 25px 0;
}
.ticket-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.ticket-list li {
  position: relative;
  text-align: center;
}
.ticket-cate-bt {
  position: relative;
  display: inline-block;
  height: 44px;
  line-height: 42px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 18rem;
  padding: 0 20px;
  font-size: 1.4rem;
  cursor: pointer;
}
.ticket-cate-bt-active {
  background-color: #333;
  border-color: #333;
  font-weight: 700;
  color: #fff;
}
.ticket-slide-wrap {
  position: relative;
  height: 535px;
  margin-top: 23px;
}
.ticket-slide-item {
  width: 100%;
  height: 535px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background-color: #f7f7f7;
  overflow: hidden;
}
.ticket-link {
  position: relative;
  display: block;
  height: 100%;
}
.ticket-img {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.ticket-img:after {
  position: absolute;
  left: 1.2rem;
  bottom: 0.7rem;
  counter-increment: ticket 1;
  content: counter(ticket);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.5rem;
  color: #fff;
  z-index: 1;
}
.ticket-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ticket-info {
  position: relative;
  height: calc(100% - 400px);
  padding: 22px 20px;
}
.ticket-good-list {
}
.ticket-good-list li {
  margin-bottom: 7px;
  font-size: 1.5rem;
  text-align: left;
}
.ticket-good-info-tit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 700;
}
.ticket-good-info-price {
  font-size: 1.8rem;
  color: #111;
  font-weight: 400;
}
.ticket-good-info-price b {
  font-size: 2rem;
  color: #ef3e43;
  font-weight: 700;
}
.ticket-good-info-price .black {
  color: #111;
  font-weight: 700;
}
.ticket-good-info-price em {
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}
.ticket-good-info-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 1.5rem;
  color: #666;
  word-break: break-all;
}
.ticket-good-info-date {
  font-size: 1.2rem;
  color: #999;
}

.ticket-good-info-point {
  display: inline-block;
  width: 56px;
  height: 24px;
  line-height: 22px;
  border-radius: 0.3rem;
  font-size: 1rem;
  text-align: center;
}
.ticket-good-info-point.seat {
  border: 1px solid #4a95ff;
  color: #4a95ff;
}
.ticket-good-info-point.only {
  border: 1px solid rgba(239, 62, 67, 0.3);
  color: #ef3e43;
}
.ticket-footer {
  position: relative;
  text-align: center;
}
