.swiper.tour-slide {
  counter-reset: ticket;
}
.tour {
  position: relative;
  padding-top: 0;
  padding-bottom: 90px;
}
.tour-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.tour-header {
  position: relative;
}
.tour-title {
  position: relative;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.tour-txt {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}
.tour-main {
  position: relative;
}
.tour-category {
  position: relative;
  justify-content: center;
  display: flex;
  padding: 25px 0;
}
.tour-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.tour-list li {
  position: relative;
  text-align: center;
}
.tour-cate-bt {
  position: relative;
  display: inline-block;
  height: 44px;
  line-height: 42px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 18rem;
  padding: 0 20px;
  font-size: 1.4rem;
  cursor: pointer;
}
.tour-cate-bt-active {
  background-color: #333;
  border-color: #333;
  font-weight: 700;
  color: #fff;
}
.tour-slide-wrap {
  position: relative;
  height: 520px;
  margin-top: 23px;
}

.tour-slide-item {
  width: 100%;
  height: 425px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background-color: #f7f7f7;
  overflow: hidden;
}
.tour-link {
  position: relative;
  display: block;
  height: 100%;
}
.tour-img {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}
.tour-img:after {
  position: absolute;
  left: 1.2rem;
  bottom: 0.7rem;
  counter-increment: ticket 1;
  content: counter(ticket);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.5rem;
  color: #fff;
  z-index: 1;
}

.tour-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tour-info {
  position: relative;
  height: calc(100% - 310px);
  padding: 22px 20px;
}
.tour-caption {
  position: absolute;
  top: -1.8rem;
  left: 2rem;
  padding: 0 1.2rem;
  height: 32px;
  line-height: 32px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: #1769ff;
  border-radius: 5px;
}
.tour-good-list {
}
.tour-good-list li {
  margin-bottom: 5px;
  font-size: 1.5rem;
  text-align: left;
}
.tour-good-info-tit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #1769ff;
}
.tour-good-info-price {
  font-size: 1.8rem;
  color: #111;
  font-weight: 400;
}
.tour-good-info-price b {
  font-size: 2rem;
  color: #ef3e43;
  font-weight: 700;
}
.tour-good-info-price .black {
  color: #111;
  font-weight: 700;
}
.tour-good-info-price em {
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}
.tour-good-info-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 1.5rem;
  color: #111;
  word-break: break-all;
}
.tour-footer {
  position: relative;
  text-align: center;
}

.mgb5 {
  margin-bottom: 5px !important;
}
